body {
    white-space: nowrap;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 13px;
    color: #303030;
    padding: 5px;
}

h2 {
  display: inline;
}
#toolbar {
  display: inline;
}

#link-to-repo {
  float: right;
}

#error-message {
  background-color: #fdd;
  color: #933;
  padding: 10px;
  display: none;
}

.loading {
  background-image: url('images/in-venia-vasion.gif');
  height: 128px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

table a {
    text-decoration: none;
}
table a:hover {
   text-decoration:underline;
}
table a {
    color: #303030;
}
table a:visited {
    color: black;
}

.avatar {
    border-radius: 50%;
    height: 20px;
}

.form-line {
  /*margin-bottom: 15px*/
  margin: 5px 0px 10px 10px;
}

.switch-field {
    display: inline-flex;
    /*overflow: hidden;*/
}
.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}
.switch-field label {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 4px 8px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in-out;
    box-shadow: none;
}
.switch-field label:hover {
    cursor: pointer;
}
.switch-field input:checked + label {
    background-color: #eee;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}
.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}
.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.search-container {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 25px;
  margin: 0 10px;
}
.search-container input {
  font-size: 1em;
  padding-left: 5px;
  width: 100%;
  height: 100%;
}
.search-icon {
  width: 20px;
  height: 20px;
  vertical-align: -3px;
  position: absolute;
  right:-5px;
  top: 4px;
  transition: color 0.15s;
  user-select: none;
  fill: rgba(209,209,240,0.8);
}

/* Results table: sticky headers */
#table-container:not(.loading) {
  max-width: 100%;
  max-height: calc(100vh - 70px);
  overflow: scroll;
  border: solid #ddd;
  border-width: 0px 0px 1px 1px;
}
#results-table thead th {
  position: sticky;
  top: 0;
  padding: 5px;
  z-index: 100;
  box-shadow: inset 0px 1px 0 #ddd, inset 0px -1px 0 #ddd;
}
.sticky-left  {
  position: sticky;
  left: 0;
  box-shadow: inset -1px 0px 0 #ddd;
  z-index: 10;
}
.sticky-right  {
  position: sticky;
  right: 0;
  box-shadow: inset 2px 0px 0 #ddd, inset -2px 0px 0 #ddd;
  z-index: 10;
  padding: 0 3px;
  text-align: left;
}
#results-table thead th:last-of-type {
  box-shadow: inset 0px -1px 0 #ddd;
  background: white;
}
/* Results table: other stuff */
#results-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
}
#results-table thead tr {
    text-align: left;
}
#results-table thead th:last-of-type {
  color: #aaa;
}
#results-table thead th {
    background-color: #7d7dab;
    font-weight: lighter;
    color: #fff;
}
#results-table thead th:not(:first-of-type):not(.today) {
  border-left: 1px dashed #ddd;
}
#results-table > tbody > tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
#results-table > tbody > tr:last-of-type {
    border-bottom: 2px solid #ddd;
}
#results-table > tbody > tr > td:not(:first-of-type):not(.today):not(.sticky-right) {
    border-left: 1px dashed #eee;
}
/* Alternating row colors */
#results-table > tbody > tr:nth-child(odd) > td {
    background-color: #fff;
}
#results-table > tbody > tr:nth-child(even) > td {
    background-color: #eee;
}
/* Highlighting today */
#results-table thead th.today {
    font-weight: bold;
    background-color: #292961;
    box-shadow: inset 0px 2px 0 black;
}
#results-table > tbody > tr:last-of-type .today {
  border-bottom: 2px solid black;
}
.today {
  border: solid black;
  border-width: 0px 2px 0px 2px;
}

.repo-name * {
  vertical-align: middle;
}


table.pipeline-jobs {
  border-spacing: 0;
  width: 100%;
}
table.pipeline-jobs td.job-name {
  text-align: right;
  width: 50%;
}
table.pipeline-jobs td.error-messages {
  text-align: left;
  width: 50%;
}
table.pipeline-jobs td.dependencies {
  text-align: right;
  width: 50%;
  padding: 0px 2px;
}

td.dependencies .dependencies-short {
  /*background-color: #CCC;*/
  background-color: #DDD;
  /*color: #fff;*/
  /*color: #000;*/
  border-radius: 5px;
  padding: 1px;
  /*margin-top: 10px;*/
  font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;

}
td.dependency-name {
  text-align: left;
}
td.dependency-version {
  text-align: left;
}
.pipeline-jobs ul {
    margin: 0px;
    list-style-type: none;
    padding: 0;
    /*font-style: italic;*/
}
.pipeline-jobs .error-messages li {
  padding: 2px;
}
.pipeline-jobs td {
    vertical-align: text-top;
}
table td {
  padding: 0;
  text-align: center;
}
table th {
  text-align: center;
}


.tooltip {
  position: relative;
  /*display: inline-block;*/
  /*border-bottom: 1px dotted black;*/
}
.tooltiptext {
  /*overflow: scroll;*/
  white-space: normal;
  overflow-wrap: break-word;
  /*max-width: 240px;*/
  width: 500px;

  /*visibility: hidden;*/
  display: none;


  /* position tooltip */
  

  background-color: white;
  border: 1px solid black;
  /*color: #fff;*/
  text-align: left;
  border-radius: 2px;
  padding: 4px;
  /*margin-top: 10px;*/

  position: absolute;
  z-index: 20;
}

.tooltiptext h3 {
  margin: 5px 0;
}

.tooltiptext .dependencies-full {
  background-color: #DDD;
  border-radius: 5px;
}

.tooltip .tooltiptext.error-message {
  white-space: normal;
  width: 215px;
  border: none;
  background-color:  black;
  color: #fff;
}

.error-message {
  background-color: #999;
  color: #fff;
  border-radius: 2px;
  padding: 1px;
  margin-top: 5px;
  font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
  text-align: left;
}

.dashboard-error-message {
  white-space: normal;
  min-width: 200px;
  background-color: #999;
  color: #fff;
  border-radius: 2px;
  padding: 1px 3px 1px 1px;
  margin-top: 10px;
  font-style: italic;
}
table .dashboard-error-message a {
  color: yellow;
}

.tooltiptext.center {
  /* When div */
  /*top: -100%;*/

  /* When span */
  top: -10px;
  left: 0;
}

.tooltiptext.left {
  /*When div
  top: -100%;
  right: 100%;*/

  top: -15px;
  right: 105%;
}


.tooltip:hover .tooltiptext {
  /*visibility: visible;*/
  display: inline;
}

/* Tooltip arrow */
.tooltip .tooltiptext.left::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}


/* Gitlab status icons */
#toolbar .gitlab-status img {
  width: 15px;
}
table .gitlab-status img {
  margin: 0 0 -2px 2px;
  width: 12px;
}

/* Fix emoji spacing when connecting a non-retina screen */
/* https://stackoverflow.com/a/44145771/533591 */
@media
not screen and (min-device-pixel-ratio: 2),
not screen and (min-resolution: 192dpi) {
  span.emoji {
    margin-right: 5px;
  }
}
