body {
    white-space: nowrap;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #303030;
    padding: 5px;
}

a {
    text-decoration: none;
}
a:hover {
   text-decoration:underline;
}
a {
    color: #303030;
}
a:visited {
    color: black;
}
.avatar {
    border-radius: 50%;
    height: 20px;
}

.switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
}
.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}
.switch-field label {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in-out;
    box-shadow: none;
}
.switch-field label:hover {
    cursor: pointer;
}
.switch-field input:checked + label {
    background-color: #eee;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}
.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}
.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}


#results-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
#results-table thead tr {
    text-align: left;
}
#results-table thead th {
    background-color: #292961;
    font-weight: lighter;
    color: #ddd;
}
#results-table thead th .today {
    font-weight: bold;
    color: #fff;
}
#results-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
#results-table tbody tr:last-of-type {
    border-bottom: 2px solid #292961;
}
#results-table tbody tr.active-row {
    font-weight: bold;
    color: #292961;
}

.pipeline-jobs ul {
    margin: 0px;
    list-style-type: none;
    padding: 0;
    font-style: italic;
}
.pipeline-jobs td {
    vertical-align: text-top;
}


.tooltip {
  position: relative;
  /*display: inline-block;*/
  /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
  visibility: hidden;

  /*width: 300px;*/

  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  margin-top: 10px;

  position: absolute;
  z-index: 1;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
