body {
    white-space: nowrap;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #303030;
}

a {
    text-decoration: none;
}
a:hover {
   text-decoration:underline;
}
a {
    color: #303030;
}
a:visited {
    color: black;
}
.avatar {
    border-radius: 50%;
    height: 20px;
}

.switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
}
.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}
.switch-field label {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in-out;
    box-shadow: none;
}
.switch-field label:hover {
    cursor: pointer;
}
.switch-field input:checked + label {
    background-color: #eee;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}
.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}
.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}


table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
table thead tr {
    background-color: #292961;
    color: #ffffff;
    text-align: left;
}
table tbody tr {
    border-bottom: 1px solid #dddddd;
}
table tbody tr:last-of-type {
    border-bottom: 2px solid #292961;
}
table tbody tr.active-row {
    font-weight: bold;
    color: #292961;
}